* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden; /*Detta tar bort den lilla sido scrollen*/
}

/*     >-- Grid -->      */

.gridContainer {
  display: grid;
  background-color: rgb(200, 160, 210);
  width: 100%;
  height: 100%;
  padding: 0 5% 0 5%;
  margin: auto auto auto auto; /* Dubbel kolla detta*/

  grid-template-rows: 25% 30% 10% 30% 50% 20% 20%; /*ÄNDRA SEN */
  /* grid-template-columns: ; */ /*ÄNDRA SEN FÖR att få pillars till projecten*/
  gap: 30px;

  grid-template-areas:
    "header header header header header header"
    "picOfMe picOfMe aboutMe aboutMe aboutMe aboutMe"
    "navBar navBar navBar navBar navBar navBar"
    "edBack edBack edBack edBack picOfMeTwo picOfMeTwo"
    "techSkills techSkills techSkills softSkills softSkills softSkills"
    "projects projects projects projects projects projects"
    "footer footer footer footer footer footer";
}

.header,
.picOfMe,
.aboutMe,
.navBar,
.edBack,
.picOfMeTwo,
.techSkills,
.softSkills,
.projects,
.footer {
  background-color: rgb(87, 231, 80);
  padding: 20px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: sans-serif;
}

.header {
  grid-area: header;
}
.picOfMe {
  grid-area: picOfMe;
}
.aboutMe {
  grid-area: aboutMe;
}
.navBar {
  grid-area: navBar;
  /* display: flex;
  align-items: center;
  justify-content: center;   DETTA är det vi vill flexa*/
}
.edBack {
  grid-area: edBack;
}
.picOfMeTwo {
  grid-area: picOfMeTwo;
}
.techSkills {
  grid-area: techSkills;
}
.softSkills {
  grid-area: softSkills;
}
.projects {
  grid-area: projects;
}
.footer {
  grid-area: footer;
}

/*Mobile*/
@media (max-width: 600px) {
  .header,
  .picOfMe,
  .aboutMe,
  .navBar,
  .edBack,
  .picOfMeTwo,
  .techSkills,
  .softSkills,
  .projects,
  .footer {
    background-color: aquamarine;
  }
  .gridContainer {
    display: grid;
    background-color: rgb(200, 160, 210);
    width: 100%;
    height: 100%;
    padding: 0 5% 0 5%;
    margin: auto auto auto auto; /* Dubbel kolla detta*/

    grid-template-rows: 25% 30% 20% 40% 30% 50% 25% 40% 20% 20%; /*ÄNDRA SEN */
    /* grid-template-columns: ; */ /*ÄNDRA SEN FÖR att få pillars till projecten*/
    gap: 30px;

    grid-template-areas:
      "header header header header header header"
      "picOfMe picOfMe picOfMe picOfMe picOfMe picOfMe"
      "navBar navBar navBar navBar navBar navBar"
      "aboutMe aboutMe aboutMe aboutMe aboutMe aboutMe"
      "picOfMeTwo picOfMeTwo picOfMeTwo picOfMeTwo picOfMeTwo picOfMeTwo"
      "techSkills techSkills techSkills techSkills techSkills techSkills"
      "edBack edBack edBack edBack edBack edBack"
      "softSkills softSkills softSkills softSkills softSkills softSkills"
      "projects projects projects projects projects projects"
      "footer footer footer footer footer footer";
  }
  .header {
    grid-area: header;
  }
  .picOfMe {
    grid-area: picOfMe;
  }
  .aboutMe {
    grid-area: aboutMe;
  }
  .navBar {
    grid-area: navBar;
    /* display: flex;
    align-items: center;
    justify-content: center;   DETTA är det vi vill flexa*/
  }
  .edBack {
    grid-area: edBack;
  }
  .picOfMeTwo {
    grid-area: picOfMeTwo;
  }
  .techSkills {
    grid-area: techSkills;
  }
  .softSkills {
    grid-area: softSkills;
  }
  .projects {
    grid-area: projects;
  }
  .footer {
    grid-area: footer;
  }
}
